h1, p{
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

p{
    color: rgb(83, 81, 81);
    font-size: 20px;
}

.main {
    text-align: center;
    align-items: center;
}

img {
    width: 700px;
    height: 450px;
}
.email-con {
    text-align: center;
}
.container {
    text-align: center;
    align-items: center;
}

.email{
    width: 450px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 2rem;
}
.dot{
    color: blue;
    font-weight: bold;
}

.img-con{
    margin-top: 4rem;
}

.grey{
    color: grey;
}

.notify {
    width: 150px;
    padding: 20px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 2rem;
    font-weight: bold;
}
.notify:hover{
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: rgb(50, 50, 241);
}

.last-div {
    margin-top: 4rem;
    text-align: center;
}
ul {
    text-decoration: none;
    list-style: none;
}
 ul li{
    display: inline;
    margin: 15px;
 }

 .icon {
    font-size: 20px;
    border: 1px solid blue;
    border-radius: 50%;
    padding: 3px;
    color: blue;
 }

 .icon:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
 }
